*, ::before, ::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
#container {
    width: 90%;
    margin: 0 auto;
}
body {
    font-family: Raleway, sans-serif;
}
h2 {
    font-weight: bold;
    font-size: 1.5em;
}
h3 {
    font-size: 1em;
}
p {
    font-weight: lighter;
}

/* header */
 nav {
     display: flex;
     justify-content: space-between;
     align-items: center;
 }
 #logo {
     width: 90px;
 }

 /* nav */
#navLinks, #sectionLinks {
    display: flex;
    flex-wrap: wrap;
}
nav li {
    list-style: none;
    padding: 20px 25px;
    font-size: 1em;
}
nav li a {
    text-decoration: none;
    color: black;
}
#inscriptionLink a {
    color:  #0065FC;
    font-weight: bold;
} 
nav li:hover {
     color: #0065FC;
     border-top: 1px solid #0065FC;
}
nav li:hover a { 
    color: #0065FC; 
/*Lorsque le li est hover, le lien a à l'intérieur devient bleu*/
}

/* main: search section - input*/
#searchPresentation {
    padding-top: 25px;
    font-weight: bold;
}
#searchPresentation h2 {
    padding-bottom: 7px;
}
#inputSearch {
    display: flex;
    padding: 15px 0 20px 0;
    height: 75px;
}
#inputSearch input[type="text"] {
    all: unset;
    border-top: 1px solid #F2F2F2;
    border-bottom: 1px solid #F2F2F2;
    padding: 0 20px 0 15px;
}
#inputSearch input[type="submit"] {
    all: unset;
    background-color: #0065FC;
    color: white;
    font-size: 0.9em;
    padding: 0 15px;
    border-radius: 0 10px 10px 0;
}
#searchIcon {
    display: none;
}
#inputSearch input[type="text"]::placeholder {
    font-weight: bolder;
    font-size: 1em;
    color: black;
}
#locationIcon {
    background-color: #F2F2F2;
    padding: 10px 15px;
    border-radius: 10px 0px 0px 10px;
}
.fa-map-marker-alt {
    font-size: 15px;
}

/* main: search section - filters */
#filters { /*toute la div filtres*/
    display: flex;
    flex-wrap: wrap; 
    padding-bottom: 20px;
}
#filtersTitle { /*h3 "Filtres" qui est le premier h3 contenu dans filters"*/
    padding-right: 30px;
    line-height: 40px; /*centrer verticalement une seule ligne de texte = hauteur de l'élément*/
}
.filter { /*div contenant l'intitulé du filtre*/
    display: flex;
    height: 40px;
    margin-right: 30px;
    position: relative;
}
.filter h3 { /*L'intitulé des filtres*/
    border: 2px solid #F1F1F1;
    border-radius: 30px;
    padding: 10px 15px 10px 50px;
}
.filter p { /*Le contenant des icones représentant les filtres*/
    background-color: #DEECFF;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    display: flex; /*Centrage des icones dans cercle bleu*/
    align-items: center;
    justify-content: center;
}
.filter p i { /*Les icones representant les filtres*/
    color: #0065FC;
}
.positionIconFilter { /*classe pour positionner les icones p/r aux intitulés*/
    position: absolute; /*par rapport au titre h3 contenu dans la même div filter*/
}
.filter:hover p { /*effet hover 1 sur filtres*/
    background-color: #0065FC;
    transition: 0.3s;
} 
.filter:hover p i { /*effet hover 2 sur filtres*/
    color: #DEECFF;
    transition: 0.3s;
}


/* main: search section - info */
#information {
    display: flex;
    margin-bottom: 30px;
}
.infoIcon {
    border: 2px solid #F1F1F1;
    border-radius: 50%;    
    width: 23px;
    height: 23px;    
    display: flex; /*Centrage de l'icone i dans le cercle*/
    align-items: center;
    justify-content: center;
    margin-right: 10px;
}
.fa-info {
    color: #0065FC;
    font-size: 10px;
}
#infoText {
    line-height: 23px;
}


/* section hosting in Marseille */
#marseilleHosting {
    background-color: #F2F2F2;
    padding: 30px 30px;
    border-radius: 15px;
    margin-bottom: 30px;
}
#marseilleHosting h2:first-child {
    padding-bottom: 25px;
}
.hostingCard {
    background-color: white;
    border-radius: 15px;
    margin-bottom: 20px;
}
.hostingCard a {
    text-decoration: none;
    color: black;
}
.hostingCard:hover, .popularCard:hover {
    cursor: pointer;
}
.hostingCard p:first-child { /*Container de l'image*/
    padding: 5px;
    height: 220px;
    overflow: hidden;
}
.hostingCard img {
    width: 100%;
    border-radius: 15px 15px 0 0;
    object-fit: cover;
}
.hostingCardPresentation, .hostingCard .stars{
    padding-left: 15px;
}
.hostingCardPresentation h3, .hostingCardPresentation p, .stars {
    padding-bottom: 5px;
}
.stars i {
    font-size: 13px;
}
#marseilleHosting h3 a { /*Le lien "Afficher plus"*/
    text-decoration: none;
    color: black;
}
.stars i {
    color: #0065FC;
}
.hostingCard:nth-child(1) .stars i:nth-child(5) { /*Auberge la Cannebière*/
    color: #F2F2F2;
}
.hostingCard:nth-child(3) .stars i:nth-child(5) { /*Hotel les mouettes*/
    color: #F2F2F2;
}
.hostingCard:nth-child(4) .stars i:nth-child(4),
.hostingCard:nth-child(4) .stars i:nth-child(5) { /*Hôtel de la mer*/
    color: #F2F2F2;
}
.hostingCard:nth-child(5) .stars i:nth-child(5) { /*Auberge Le panier*/
    color: #F2F2F2;
}

/* Section popular Hosting */
#popularHosting {
    background-color: #F2F2F2;
    padding: 30px 30px;
    border-radius: 15px;
    margin-bottom: 30px;
}
#popularTitle {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 25px;
}
#popularTitle i {
    font-size: 20px;
}
.popularCard {
    background-color: white;
    border-radius: 15px;
    margin-bottom: 20px;
}
.popularCard a {
    text-decoration: none;
    color: black;
}
.popularCard a {
    display: flex;
}
.popularCard p:first-child {
    padding: 5px;
    height: 120px;
    width: 110px;
}
.popularCard img {
    border-radius: 15px 0 0 15px;
    object-fit: cover;
    height: 100%;
    width: 100%;
}
.flex-popularCardPresentation {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    /* background-color: crimson; */
    padding: 10px 10px;
}
.flex-popularCardPresentation .popularCardPresentation {
    /* background-color: darkkhaki; */
}
.flex-popularCardPresentation .stars {
    /* background-color: darkturquoise; */
}

/*Mise en page flexbox hosting section*/
#hosting {
    display: flex;
    justify-content: space-between;
}
.hostingCardsGroup {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.hostingCard {
    flex: 0 0 31.5%;
}
#marseilleHosting {
    flex-basis: 70%;
}
#popularHosting {
    flex-basis: 27%;
}

/*Section Activities in Marseille*/
#activities {
    padding: 30px;
}
#activities h2 {
    margin: 20px 0 15px 0;
}
.activityCard {
    background-color: white;
}
.activityCard a {
    text-decoration: none;
    color: black;
}
.activityCard p:first-child, .activityCard img {
}
.activityCard {
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    border-radius: 15px;
    margin-bottom: 15px;
}
.activityCard img {
    border-radius: 15px 15px 0 0;
    width: 100%;
}
.activityCard h3 {
    padding: 15px 0 15px 15px;
}

/* Mise en page de la section activities */
.activitiesGroup {
    display: flex;
    justify-content: space-between;
}
.col {
    flex-basis: 23%;
}
.col2 div:first-child {
}

/* Footer */
footer {
    background-color: #F2F2F2;
    display: flex;
    justify-content: space-around;
    padding: 30px 0;
}
footer a {
    text-decoration: none;
    color: black;
}
.columnFooter h3 {
    padding-bottom: 20px;
}
.columnFooter p {
    padding-bottom: 15px;
}


/* Media queries */

@media screen and (max-width: 768px) {
    #container {
    }
    #navLinks {
        display: flex;
        flex-direction: column-reverse;
        justify-content: stretch;
        align-items: stretch;
        width: 100%;
    }
    #filtersTitle {
        flex-basis: 100%;
    }
    .filter {
        margin-bottom: 10px;
    }
    #hosting {
        display: flex;
        flex-direction: column-reverse;
    }
    #marseilleHosting {
        background-color: white;        
        border-radius: 0;
    }
    .hostingCardsGroup {
        display: block;
    }
    .hostingCard {
        box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    }
    .activitiesGroup {
        display: block;
    }
    #popularHosting {
        border-radius: 0;
    }
    footer {
        display: block;
    }
    .columnFooter {
        width: 100%;
    }

}

@media screen and (max-width: 991px) {
    #hosting {
        display: flex;
        flex-direction: column-reverse;
    }
}